.ui.segment {
  border: none;
}

.ui.segment.todoForm {
  box-shadow: none;
  border-radius: 0;
  background: transparent;
  padding: 0;
}

.ui.segment.todoForm input {
  border: none;
}

button.ui.button.submitTodoButton {
  background-color: #ffffff;
  color: #037aba;
}
