.todoItem {
  margin-bottom: 16px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: #07d1bf;
  border-radius: 5px;
}

.todoItemCreatedAt {
  color: #08544e;
  font-size: 0.85em;
  font-style: italic;
}

.todoItemCompletedAt {
  color: #6fb6f3;
  font-size: 0.85em;
  font-style: italic;
}

.todoItemCreatedAt.completed {
  color: #538fc3;
  text-decoration-line: none;
}

.complete {
  background: #004682;
}

.todoItem .todoContent {
  color: #ffffff;
}

.completed {
  text-decoration-line: line-through;
}
