.todoItem {
  margin-bottom: 16px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: #07d1bf;
  border-radius: 5px;
}

.todoItemCreatedAt {
  color: #08544e;
  font-size: 0.85em;
  font-style: italic;
}

.todoItemCompletedAt {
  color: #8ec4f3;
  font-size: 0.85em;
  font-style: italic;
}

.todoItemCreatedAt.completed {
  color: #538fc3;
  text-decoration-line: none;
}

.complete {
  background: #082640;
}

.todoItem .todoContent {
  color: #00403a;
}

.todoItem .todoContent .todoEditInput {
  color: #00403a;
  margin-bottom: 15px;
  background: transparent;
}

.todoItem .todoContent .todoEditInput textarea {
  border: solid 1px #18a094;
  background: transparent;
  font-family: inherit;
  color: #00403a;
}

.todoItem .todoContent .todoEditInput label {
  color: #00403a !important;
}

.todoItem .todoContent .todoBody {
  margin-bottom: 20px;
}

.completed {
  text-decoration-line: line-through;
  color: #ffffff;
}

.todoItem.row .mobileButtonColumn button {
  margin-top: 20px;
  background: transparent;
  border: solid 1px #00a99a;
  color: #08544e;
}

.mobileButtonLight {
  background: transparent;
  border: solid 1px #ffffff !important;
  color: #ffffff !important;
}

.todoItem.row .mobileButtonColumn button i {
  background-color: rgba(0, 0, 0, 0.15);
}
